/* product banner start */
#product-banner-container-left {
    width: 50%;
    padding-left: 20px;
}

#product-banner-container-right {
    width: 50%;
    position: relative;
    border-radius: 0;
    padding: 2.5rem;
}

#product-banner-container-right #banner-image {
    height: 507px;
    width: 440px;
    border-bottom-right-radius: 110px;
    margin-left: 25%;
}

#product-banner-container-right #box1 {
    width: 32px;
    height: 32px;
    border-radius: 0;
    border-bottom-left-radius: 10px;
    right: 70px;
    top: 2.5rem;
}

#product-banner-container-right #box2 {
    width: 35px;
    height: 35px;
    border-radius: 0;
    border-bottom-left-radius: 10px;
    bottom: 250px;
    left: 65px;
}

#product-banner-container-right #box3 {
    position: absolute;
    width: 155px;
    height: 167px;
    border-radius: 0;
    bottom: 0px;
    left: 2.5rem;
}

#product-banner-container-right #box3 img {
    width: 100%;
    border-top-left-radius: 40px;
}

/* product banner end */


/* Coustomer section start */
#coustomer-container {
    padding: 2.5rem;
    margin-top: 100px;
}

#coustomer-container h2 {
    color: #0D1317;
    font-size: 3rem;
    font-weight: 600;
    line-height: 56px;
    letter-spacing: -1.44px;
}

#coustomer-container #finsweet-box {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
    margin-top: 80px;
}

#coustomer-container #finsweet-box .icon-box {
    height: 6.25rem;
    width: 6.25rem;
    border-radius: 12px;
    background: linear-gradient(180deg, rgba(35, 46, 209, 0.03) 0%, rgba(35, 46, 209, 0.15) 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

#coustomer-container #finsweet-box .icon-box img {
    height: 1.5rem;
    width: 1.5rem;
}

#coustomer-container #finsweet-box .icon-box h3 {
    color: #000;
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 32px;
}

#coustomer-container #finsweet-box .icon-box p {
    color: #5B5B5B;
    font-size: 1.125rem;
    line-height: 30px;
}
/* Coustomer section end */


/* Suport section */
#customers-container #customers-container-left{
    padding-right: 30px;
}

#customers-container #customers-container-left ul{
    padding-left: 18px;
}


@media screen and (max-width:576px) {

    /* Customer section */
    #coustomer-container #finsweet-box {
        display: flex;
        flex-wrap: wrap;
    }

    #coustomer-container h2{
        font-size: 2rem;
        line-height: 45px;
    }

    #coustomer-container h2 br {
        display: none;
    }
}


@media screen and (min-width:577px) and (max-width:768px) {

    #product-banner-container-left,
    #product-banner-container-right {
        width: 100%;
    }

    #product-banner-container-right #banner-image {
        width: 100%;
        margin-left: 0;
        padding: 2.5rem;
    }

    #product-banner-container-right #box3 {
        left: initial;
        right: 0px;
    }

    #product-banner-container-right #box1 {
        background-color: #f24c27;
    }

    #product-banner-container-right #box2 {
        bottom: 0px;
        left: 0px;
        background-color: #232ed1;
    }
}


@media screen and (min-width:769px) and (max-width:992px) {

    #product-banner-container-left,
    #product-banner-container-right {
        width: 100%;
    }

    #product-banner-container-right #banner-image {
        width: 100%;
        margin-left: 0;
        padding: 2.5rem;
    }

    #product-banner-container-right #box3 {
        left: initial;
        right: 0px;
    }

    #product-banner-container-right #box1 {
        background-color: #f24c27;
    }

    #product-banner-container-right #box2 {
        bottom: 0px;
        left: 0px;
        background-color: #232ed1;
    }
}

@media screen and (min-width:993px) and (max-width:1200px) {
    #product-banner-container-right #banner-image {
        margin-left: 10%;
    }
}